<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name, class:"form-style" %>
  Last Name: <%= f.text_field :last_name, class:"form-style" %>
  Email: <%= f.text_field :email, class:"form-style" %>
  Password: <%= f.password_field :password, class:"form-style" %>
  Password Confirmation: <%= f.password_field :password_confirmation, class:"form-style" %>
  <%= f.submit "Submit", class:"form-style" %>

<% end %>